## Please complete your lab here

In [27]:
import os

In [28]:
os.getcwd()

'/Users/nmolivo/DC-DSI4/curriculum/01-week/1.11-notebooks-spyder-csvs-lab/code'

In [29]:
import csv

## 1. Read in the iris dataset

In [30]:
with open("../data/iris.csv", "r") as f:
    reader = csv.reader(f)
    data = []
    for row in reader:
        data.append(row)
    print(data[0:5])

[['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'], ['5.1', '3.5', '1.4', '0.2', 'setosa'], ['4.9', '3', '1.4', '0.2', 'setosa'], ['4.7', '3.2', '1.3', '0.2', 'setosa'], ['4.6', '3.1', '1.5', '0.2', 'setosa']]

## 2. Eliminate header
make sure you just eliminate the header ...

In [31]:
len(data)

151

In [32]:
data = data[1:len(data)]

## 3. Identify number of observations

In [33]:
len(data)

150

## 4. Identify what species is in row four

In [39]:
data[4][4]  #4th row, 4th column in data

'setosa'

## 5. Calculate the average sepal length in the dataset

In [45]:
to_average =[]
for i in range(len(data)):
    to_average.append(float(data[i][0]))
import numpy as np
np.mean(to_average)

5.8433333333333337

## 6. Calculate the average sepal length of setosa flowers using a loop

In [48]:
setosa_avg = []
for i in range(len(data)):
    if data[i][4].lower() == "setosa":
        setosa_avg.append(float(data[i][0]))
np.mean(setosa_avg)

5.0060000000000002

## BONUS: Calculate the average sepal length of flowers of any given species
Input includes species, which can be any of the following: "setosa", "versicolor", "verginica"

In [49]:
species_list = []
for i in range(len(data)):
    species_list.append(data[i][4])

list(set(species_list))

['setosa', 'virginica', 'versicolor']

In [50]:
def avg_by_species(species):
    return np.mean([float(m[0]) for m in data if m[4] == species.lower()])
    #list comprehension: create list of first element in each row if fourth element == input species

it works!

In [51]:
avg_by_species("setosa") #it works!

5.0060000000000002